<footer class="flex mt-8 max-w-7xl mx-auto w-full text-xl font-semibold" id="contentinfo">
<a class="mr-3" href="mailto:jacquescorbytuech@gmail.com">Email</a>
<a class="mr-3" href="https://www.twitter.com/iamacyborg">Twitter</a>
<a class="mr-3" href="https://www.mql.fm">Podcast</a>
<a class="mr-3" href="/feeds/all.atom.xml">RSS</a><!-- /#about -->
</footer>