<footer class="flex mt-8 max-w-7xl mx-auto w-full text-xl" id="contentinfo">
<p>A site by <a class="underline decoration-blue-400 decoration-2" href="https://www.jacquescorbytuech.com">Jacques Corby-Tuech</a></p>
</footer>