<header role="banner" class="lg:flex lg:justify-between lg:items-center sm:px-4 sm:py-3 max-w-7xl mx-auto w-full">
<a href="/" class="text-2xl font-bold">Jacques Corby-Tuech</a>
{% include 'partials/nav.njk' %}
</header>