<nav class="flex flex-row items-center text-lg">
    <a class="mr-3{% if '/writing/' in page.url %} underline decoration-sky-600 decoration-4{% endif %}" href="/writing">writing</a>
    <a class="mr-3{% if '/reading/' in page.url %} underline decoration-sky-600 decoration-4{% endif %}" href="/reading">reading</a>
    <a class="mr-3{% if '/links/' in page.url %} underline decoration-sky-600 decoration-4{% endif %}" href="/links">links</a>
</nav>