{% if  postslist == collections.reading  %}
  <p class="text-2xl"><em>-- 2022 --</em></p>
  <p class="text-lg mt-8 mb-2">-- Recommended --</p>
    {% for post in postslist | reverse %}
      {% if loop.first %}<ol>{% endif %}
      {% if  post.date.getFullYear() == 2022  %}
        {% if post.data.recommended === true  %}
        <li class="text-xl">
          <small><time class="mr-8 text-gray-500" datetime="{{ post.date | htmlDateString }}">{{ post.date | htmlDateString }}</time></small>
          <a href="{{ post.url | url }}" class="underline decoration-sky-600 hover:decoration-4 visited:decoration-purple-500">{{ post.data.title }} ⚡</a>
        </li>
        {% endif %}
      {% endif %}
  {% if loop.last %}</ol>{% endif %}
    {% endfor %}
  <p class="text-lg mt-8 mb-2">-- Everything else --</p>
    {% for post in postslist | reverse %}
  {% if loop.first %}<ol>{% endif %}
      {% if  post.date.getFullYear() == 2022  %}
        <li class="text-xl">
          <small><time class="mr-8 text-gray-500" datetime="{{ post.date | htmlDateString }}">{{ post.date | htmlDateString }}</time></small>
          <a href="{{ post.url | url }}" class="underline decoration-sky-600 hover:decoration-4 visited:decoration-purple-500">{{ post.data.title }}</a>
        </li>
      {% endif %}
  {% if loop.last %}</ol>{% endif %}
    {% endfor %}
  <p class="text-2xl mt-12"><em>-- 2021 --</em></p>
  <p class="text-lg mt-8 mb-2">-- Recommended --</p>
    {% for post in postslist | reverse %}
  {% if loop.first %}<ol>{% endif %}
      {% if  post.date.getFullYear() == 2021  %}
        {% if post.data.recommended === true  %}
        <li class="text-xl">
          <small><time class="mr-8 text-gray-500" datetime="{{ post.date | htmlDateString }}">{{ post.date | htmlDateString }}</time></small>
          <a href="{{ post.url | url }}" class="underline decoration-sky-600 hover:decoration-4 visited:decoration-purple-500">{{ post.data.title }} ⚡</a>
        </li>
        {% endif %}
      {% endif %}
  {% if loop.last %}</ol>{% endif %}
    {% endfor %}
  <p class="text-lg mt-8 mb-2">-- Everything else --</p>
    {% for post in postslist | reverse %}
  {% if loop.first %}<ol>{% endif %}
      {% if  post.date.getFullYear() == 2021  %}
        <li class="text-xl">
          <small><time class="mr-8 text-gray-500" datetime="{{ post.date | htmlDateString }}">{{ post.date | htmlDateString }}</time></small>
          <a href="{{ post.url | url }}" class="underline decoration-sky-600 hover:decoration-4 visited:decoration-purple-500">{{ post.data.title }}</a>
        </li>
      {% endif %}
  {% if loop.last %}</ol>{% endif %}
    {% endfor %}
  <p class="text-2xl mt-12"><em>-- 2020 --</em></p>
  <p class="text-lg mt-8 mb-2">-- Recommended --</p>
    {% for post in postslist | reverse %}
  {% if loop.first %}<ol>{% endif %}
      {% if  post.date.getFullYear() == 2020  %}
        {% if post.data.recommended === true  %}
        <li class="text-xl">
          <small><time class="mr-8 text-gray-500" datetime="{{ post.date | htmlDateString }}">{{ post.date | htmlDateString }}</time></small>
          <a href="{{ post.url | url }}" class="underline decoration-sky-600 hover:decoration-4 visited:decoration-purple-500">{{ post.data.title }} ⚡</a>
        </li>
        {% endif %}
      {% endif %}
  {% if loop.last %}</ol>{% endif %}
    {% endfor %}
  <p class="text-lg mt-8 mb-2">-- Everything else --</p>
    {% for post in postslist | reverse %}
  {% if loop.first %}<ol>{% endif %}
      {% if  post.date.getFullYear() == 2020  %}
        <li class="text-xl">
          <small><time class="mr-8 text-gray-500" datetime="{{ post.date | htmlDateString }}">{{ post.date | htmlDateString }}</time></small>
          <a href="{{ post.url | url }}" class="underline decoration-sky-600 hover:decoration-4 visited:decoration-purple-500">{{ post.data.title }}</a>
        </li>
      {% endif %}
  {% if loop.last %}</ol>{% endif %}
    {% endfor %}


{% else %}


  
    {% for post in postslist | reverse %}
    {% if loop.first %}<ol>{% endif %}
      <li class="text-xl">
        <small><time class="mr-8 text-gray-500" datetime="{{ post.date | htmlDateString }}">{{ post.date | htmlDateString }}</time></small>
        <a href="{{ post.url | url }}" class="underline decoration-sky-600 hover:decoration-4 visited:decoration-purple-500">{{ post.data.title }}</a>
      </li>
  {% if loop.last %}</ol>{% endif %}
    {% endfor %}


{% endif %}